<!-- sideBar -->
<div class=" border-right p-3" id="sidebar">
    <h3 class="text-light">GifsApp</h3>
    <hr class="text-white">
      <!-- con titlecase le indicamos que capitalice las palabras con mayuscula la primera letra solo en el tamplate -->
      <!-- no hace modificaciones a la tabla -->
    <div class="list-group list reset">
      <a *ngFor="let item of historial" 
      (click)="buscar(item)"
      href="#" 
      class="list-group-item list-group-item-action">
        {{item | titlecase}}
      </a>
      
    </div>
  </div>
    <!-- end Sidebar -->
